.images_gallery_with_zoom_211019 {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: equally-spaced;
}

.images_gallery_with_zoom_211019 * {
	max-height: 24vh;
	margin: 5px;
	border-radius: 5px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	transition: filter .2s;
}

.images_gallery_with_zoom_211019 *:hover:not(:active) {
	filter: drop-shadow(0 0 4px black);
}

.images_gallery_with_zoom_211019 *:active {
	position: fixed;
	top: 7vh;
	max-width: 88vw;
	max-height: 88vh;
	z-index: 99999;
	transition: .2s;
	background: rgba(0,0,0,.9);
	padding: 99999px;
	margin: -99999px;
}
