.presentation_display_block_hidden {
	display: none;
}
#buttons_at_the_bottom_container button {
	background-color: white; 
	color: black; 
	border: 2px solid #66b3ff;
	transition-duration: 0.4s;
	margin: 10px;
}
#buttons_at_the_bottom_container button:hover {
	background-color: #66b3ff;
	color: white;
}
#buttons_at_the_bottom_container {
	display: flex;
	justify-content: center;
}
